.sidebarContainer {
    position:fixed; /*quando fizer scrool o elemento irá ficar fixo na página*/
    top:0;
    left:0;
    bottom: 0;
    z-index:1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 7rem;
    background: blue;

    @media (max-width: 1160px) {
        right: 0;
        width: 100%;
        height: 7rem;
        flex-direction: row;
        background: blue;
      }
}