.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;

    display: grid;
    /* duas colunas com tamanha igual 50 % cada uma */
    grid-template-columns: 1fr 1fr;
    gap:6.25rem;
    /* fazer com que todo conteudo do grid seja alinhado ao centro*/
    align-content: center;
}